*{
  margin: 0;
  padding: 0;
}
.login-page {
  background-image: url("./backgoundimage1.jpg");
  background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
 }

.login{
  position: absolute;
display:flex;
  border-radius: 6px;
  background-color: rgba(102, 146, 163, 0.479);
  width: fit-content;
  justify-content: baseline;
  border: 1px solid rgb(44, 42, 42);
  margin: 145px;
 
}
.vertical{
           margin-left: 155px;
            border-left: 4px solid rgb(124, 131, 224);
            height: 45px;
            position:absolute;
            
        }

.vertical1 {
          margin-left: 255px;
           border-left: 4px solid rgb(124, 131, 224);
           height: 45px;
           position:absolute;
           
       }   
       
.button1{
  font-size: small;
  height: 25px;
  width: 42px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.doctorlist{
  margin: 85px;
  border: 1px solid grey;
 
}

.doc-button{
  float: right;
margin-right: 8%;
}
.doc-form{
 background-color: rgb(219, 223, 212);
 border-radius: 8px;

}

#modal1{
  width: 50px;
}

.modal-content,.modal-dialog{
  width:170% !important;
float: left;
margin: 28px 16%;
}
.fontweight{
  font-weight:100 !important
}
.close{
  color: red !important;
  font-size:3rem !important;
  margin-right:54px !important;
}

.textdata{
  width:max-content;
  margin-right: 455px;
}
.dropdown1{
  background-color: #343a40 !important;
}
